.header {
	background-color: gray;
	color: black;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	z-index: 1;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding-bottom: 20px;
	background-color: #c1c1c1;
}

.heading {
	font-size: 24px;
	margin-top: 20px;
}
