/* styles/NavigationBar.module.css */
.navBar {
	display: flex;
	background-color: #c1c1c1;
	justify-content: center;
	align-items: center;
}

.navBar ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.navBar li {
	margin-right: 20px;
}

.active button {
	background-color: yellow;
	color: #000000;
}

.button {
	background-color: gray;
	color: #c1c1c1;
	border: none;
	border-radius: 6px;
	padding: 10px 20px;
	cursor: pointer;
	text-decoration: none;
	font-size: 18px;
	transition: background-color 0.3s ease-in-out;
}
