.header {
	background-color: #333333;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.logoContainer {
	flex-grow: 1;
	color: white;
}

.buttonContainer {
	display: flex;
	gap: 10px;
}

.buttonEntrar,
.buttonCadastrar {
	border-radius: 4px;
	padding: 10px 20px;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
}
.buttonCadastrar {
	background-color: #f9c80d;
	color: #c1c1c1;
	border: none;
}
.buttonEntrar {
	background-color: #333333;
	color: #f9c80d;
	border: 1px solid #f9c80d;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #141b2d;
}

.heading {
	font-size: 24px;
	margin-top: 20px;
	color: white;
}
